* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(64deg, #DA7211 0%, rgba(253, 245, 47, 0.99) 125.58%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: fit-content;
    height: 200px;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 14px;
    backdrop-filter: blur(10px);
    background: rgba(218, 114, 17, 0.7);
    box-shadow: 0 0 10px 1px black;
}

.container h1 {
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.container .khat {
    background-color: #FFF;
    width: 1px;
    height: 136px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

select {
    color: #FFF;
    font-size: 20px;
    appearance: none;
    border: 1px solid white;
    padding: 5px;
    margin-bottom: 10px;
    outline: none;
    border-radius: 10px 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: none;
    cursor: pointer;
}

select option {
    color: #000;
}

div .harara {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    mix-blend-mode: overlay;
}

div .riya7 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    mix-blend-mode: overlay;
}